{% extends "program.html" %}
{% block display_block %}
    <script src="/static/js/commonutilities.js"></script>
    <script src="/static/js/library/compiled.js"></script>
    <script src="/static/js/program/projecttest.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/projecttest.css" />
    <h4>Dropdown with searching</h4>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            <a href="#about">About</a>
            <a href="#base">Base</a>
            <a href="#blog">Blog</a>
            <a href="#contact">Contact</a>
            <a href="#custom">Custom</a>
            <a href="#support">Support</a>
            <a href="#tools">Tools</a>
        </div>
    </div>
    <h4>Function Switch</h4>
    <div>
        <button class="btn btn-primary" id="a">aaa</button>
        <button class="btn" id="b">bbb</button>
    </div>
    <div class="border" style="border-color: black;width:100%;height:300px">
        <div id="aDisplay"><h3 class="w3-center">Welcome A!</h3></div>
        <div id="bDisplay"><h3 class="w3-center">Welcome B!</h3></div>
    </div>
    <h4>Css Flexbox</h4>
    <div style="display:flex;justify-content: center;">
        <div style="background-color:lightblue;width:33%;height:100px;transform: translateY(50%)">1</div>
        <div style="background-color:lightyellow;width:33%;height:200px;">2</div>
        <div style="background-color:lightgreen;width:33%;height:100px;transform: translateY(50%)">3</div>
    </div>
    <h4>Css static relative absolute fixed and sticky</h4>
    <h5>Relative and absolute</h5>
    <div  style="position:relative;background-color:lightcoral;width:100px;height:100px;left:10px;">
        <p style="background-color:lightblue;width:50px;height:50px;"></p>
        <p style="background-color:lightgreen;position:absolute; top:0;left:0">Test text</p>
    </div>
    <h5>Sticky</h5>
    <div style="position:sticky;bottom:0;">
        <div style="position:relative;left:200px;">
            <div style="width:50px;height:50px;background-color:lightblue;"></div>
        </div>
    </div>
    <script>
        $("#a").on("click",response);
        $("#b").on("click",response);
        $("#bDisplay").hide();
        function response(){
            if($(this).attr("id")=="a" && $("#b").hasClass("btn-primary")) {
                $("#b").removeClass("btn-primary");
                $("#bDisplay").hide();
                $("#aDisplay").show();
            }
            if($(this).attr("id")=="b" && $("#a").hasClass("btn-primary")) {
                $("#a").removeClass("btn-primary");
                $("#aDisplay").hide();
                $("#bDisplay").show();
            }
            if(!($(this).hasClass("btn-primary")))
                $(this).addClass("btn-primary");
        }
        var a=new Set([1,2,2,3,3]);
        console.log("set print out:",JSON.stringify(a));
    </script>

{% endblock %}
