{% extends "program.html" %}
{% block display_block %}
    <script src="/static/js/program/commonutilities.js"></script>
    <script src="/static/js/program/sendattachment.js"></script>

    <div class="row">
        <div class="col-lg-6 border-right" style="height:1000px">
            <h3>Content in Excel</h3>
            <p id="excelContentDisplay"></p>
            <div>
                <input id="emailAddress" value="xiazhai2017@gmail.com"/>
                <button id="btSendEmail">Send Email</button>
            </div>
        </div>
        <div class="col-lg-5">
            <h3>Annotation</h3>
        </div>
    </div>

{% endblock %}
