{% extends "interview.html" %}
{% block display_block %}
    <script src="/static/js/commonutilities.js"></script>
    <script src="/static/js/interview/pythonquestions.js"></script>
    <div class="row">
        <div class="col-lg-6 border-right" style="height:1000px">
            <div>
                <input style="width:100%" id="inputQuestion" placeholder="Please input question..">
                <button id="saveQuestion">Save</button>
            </div>
            <h3>Questions</h3><br>
            <div id="questionsDisplay">

                <br>
            </div>
        </div>
        <div class="col-lg-6" >
            <div>
                <input style="width:100%" id="inputAnswer" placeholder="Please input Answer..">
                <button id="saveAnswer">Save</button>
                <button class="btn w3-right" id="hideAnswers">Hide Answers</button>
                <button class="btn btn-primary w3-right" id="showAnswers">Show Answers</button>
            </div>
            <h3>Answers</h3><br>
            <div id="answersDisplay">
            </div>
        </div>
    </div>
{% endblock %}
