<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/navBar.js"></script>
    <script src="/static/js/library/jquery-3.3.1.min.js"></script>
    <script src="/static/js/library/popper.js"></script>
    <script src="/static/js/library/tootip.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/library/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/library/w3.css" />
    <script src="/static/js/library/bootstrap.min.js"></script>
    <script src="/static/js/library/bootbox.js"></script>
    <title>WebDevlHelper</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav"  style="width:30%">
            <li class="nav-item active" id="programNav">
                <a class="nav-link" href="{{ url_for('stringSorting') }}">Program </a>
            </li>
            <li class="nav-item active" id="interviewNav">
                <a class="nav-link" href="{{ url_for('pythonQuestions') }}">Interview </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0"  style="width:55%">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav" style="margin-right: 0"  style="width:15%">
            <li class="nav-item active" id="signOn" >
                <a class="nav-link" href="{{ url_for('signOn') }}">Sign On </a>
            </li>
            <li class="nav-item active" id="signIn">
                <a class="nav-link" href="{{ url_for('signIn') }}">Sign In </a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
