{% extends "homepage.html" %}
{% block display_block %}
    <link rel="stylesheet" type="text/css" href="/static/css/library/datatables.css"/>
    <script type="text/javascript" src="/static/js/library/datatables.js"></script>
    <script src="/static/js/populatetable.js"></script>
    <div class="row">
        <div class="col-lg-6 border-right" style="height:1000px">
            <h3>Populate a table</h3>
            <table id="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot></tfoot>
            </table>

        </div>
        <div class="col-lg-5">
            <h3>Annotation</h3>
        </div>
    </div>
{% endblock %}